.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    max-height: 50vh;
    margin: auto 0;

    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.checkWrapper {
    display: grid;
    place-items: center;
    padding: 50px;
    border-radius: 50%;
    background-color: rgb(227, 239, 255);
}

.check {
    color: var(--blue);
    font-size: 3rem;
}

.title {
    color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    gap: 10px;
}

.paragraph {
    color: rgb(53, 53, 53);
    text-align: center;
    width: 50%;
}

p {
    line-height: 20px;
}

.btnWrapper {
    display: flex;
    gap: 1rem;
}

.dashboardBtn,
.postBtn {
    all: unset;
    padding: 15px 25px;
    border: 1px solid var(--borderGrey);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.dashboardBtn {
    background-color: rgb(227, 239, 255);
    border: none;
    color: var(--blue);
}

.dashboardBtn:hover {
    background-color: rgb(212, 231, 255);
}

.hide {
    display: none;
}

.postBtn {
    background-color: rgb(0, 102, 255);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 35px;
}

.postBtn:hover {
    background-color: rgb(0, 92, 230);
}