.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 1rem;
}

.row label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    padding: 1px 0;
    box-sizing: border-box;
}

.inputWrapper:active,
.inputWrapper:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.inputWrapper input {
    flex: 5;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.inputWrapper input::placeholder {
    color: #aaa;
}

.inputWrapper input:focus {
    border-color: #007bff;
    box-shadow: none;
}

.inputWrapper select {
    width: 100%;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    border-right: 1px solid #ddd;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.inputWrapper select option {
    padding: 10px;
}

.selectWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    @media only screen and (min-width: 500px) {
        flex: 2;
    }

    @media only screen and (min-width: 680px) {
        flex: 1;
    }
}

.platformIcon {
    font-size: 1.5rem;
    color: #0b37ff;
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
    color: #888;
}

.inputIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #007bff;
    pointer-events: none;
}

.address {
    padding-left: 40px !important;
}

.location,
.phone {
    padding-left: 15px !important;
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    /*no use here*/
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 1rem;
    }


    .inputWrapper input {
        padding: 10px;
        font-size: 1rem;
    }

    .inputWrapper select {
        font-size: 0px;
        padding: 5px 35px;
        font-size: 1rem;
    }
}