.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.label {
    display: block;
    font-size: 0.8rem;
    font-weight: 550;
    margin-bottom: 10px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 1rem;
}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px 0;
}

.inputWrapper:active,
.inputWrapper:hover {
    outline: none;
    border-color: #007bff;
}

.selectWrapper {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.selectWrapper select {
    width: 100%;
    padding: 5px 10px;
    padding-left: 35px;
    font-size: 0.9rem;
    font-weight: 550;
    border: none;
    border-right: 1px solid #ddd;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    box-sizing: border-box;
}

.selectWrapper select:focus {
    outline: none;
}

.platformIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    margin-right: 10px;
    font-size: 1rem;
}

.input {
    flex: 2;
    padding: 15px;
    margin-left: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.removeIcon {
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    font-size: 1.5rem;
    padding: calc(38px - 1.5rem);
}

.removeIcon:hover {
    background-color: #d6d6d6;
}

.addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #e9e9e9;
    color: rgb(43, 43, 43);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #d6d6d6;
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    /*no use here*/
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 1rem;
    }

    .label {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .selectWrapper select {
        flex: 1;
        padding: 15px 10px;
        font-size: 0;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        @media only screen and (min-width: 500px) {
            font-size: 0.8rem;
            padding-left: 35px;
        }

        @media only screen and (min-width: 600px) {
            padding-left: 45px;
        }
    }

    .selectWrapper select option {
        font-size: 1rem;
        padding: 10px;
    }

    .platformIcon {
        left: 15px;
        margin-right: 10px;
        font-size: 1rem;
    }

    .input {
        flex: 2;
        padding: 10px;
        margin-left: 5px;
    }

    .removeIcon {
        font-size: 1.5rem;
        padding: calc(34px - 1.5rem);
    }

}