
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  width: 100%;
  text-align: center;
}


/* Default: Large devices such as laptops, computers (greater than 1024px) */

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
  /*no use here*/
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
   *::-webkit-scrollbar {
    display: none;
   }
}
